<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Data>
    <Team>
        <Practice>
            <Players>
                <Player>
                    <Name>Mr. Foo</Name>
                    <Number>1</Number>
                    <PlayerStats></PlayerStats>
                </Player>
            </Players>
        </Practice>
    </Team>
</Data>