<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Data>
    <Team>
        <TeamName>Team 1</TeamName>
        <Practices>
            <Practice>
                <PracticeName>Practice 1</PracticeName>
                <Players>
                    <Player>
                        <PlayerName>Foo</PlayerName>
                        <PlayerNumber>5</PlayerNumber>
                        <PlayerStats>
                            <Kills>0</Kills>
                            <Errors>1</Errors>
                            <TotalAttempts>1</TotalAttempts>
                            <Assists>31</Assists>
                            <ServiceAces>0</ServiceAces>
                            <ServiceErrors>0</ServiceErrors>
                            <ReceptionErrors>0</ReceptionErrors>
                            <Digs>2</Digs>
                            <SoloBlocks>0</SoloBlocks>
                            <BlockAssists>2</BlockAssists>
                            <BlockingErrors>0</BlockingErrors>
                            <BallHandlingErrors>0</BallHandlingErrors>
                        </PlayerStats>
                    </Player>
                    <Player>
                        <PlayerName>Foo</PlayerName>
                        <PlayerNumber>5</PlayerNumber>
                        <PlayerStats>
                            <Kills>2</Kills>
                            <Errors>1</Errors>
                            <TotalAttempts>1</TotalAttempts>
                            <Assists>1</Assists>
                            <ServiceAces>1</ServiceAces>
                            <ServiceErrors>1</ServiceErrors>
                            <ReceptionErrors>1</ReceptionErrors>
                            <Digs>1</Digs>
                            <SoloBlocks>1</SoloBlocks>
                            <BlockAssists>1</BlockAssists>
                            <BlockingErrors>1</BlockingErrors>
                            <BallHandlingErrors>2</BallHandlingErrors>
                        </PlayerStats>
                    </Player>
                </Players>
            </Practice>
        </Practices>
        <!--<TeamStats>-->
            <!--<Kills>1</Kills>-->
            <!--<Errors>2</Errors>-->
            <!--<TotalAttempts>3</TotalAttempts>-->
            <!--<Assists>4</Assists>-->
            <!--<ServiceAces>5</ServiceAces>-->
            <!--<ServiceErrors>6</ServiceErrors>-->
            <!--<ReceptionErrors>7</ReceptionErrors>-->
            <!--<Digs>8</Digs>-->
            <!--<SoloBlocks>9</SoloBlocks>-->
            <!--<BlockAssists>10</BlockAssists>-->
            <!--<BlockingErrors>11</BlockingErrors>-->
            <!--<BallHandlingErrors>12</BallHandlingErrors>-->
        <!--</TeamStats>-->
        <TeamStats>
            <Kills>0</Kills>
            <Errors>0</Errors>
            <TotalAttempts>0</TotalAttempts>
            <Assists>0</Assists>
            <ServiceAces>0</ServiceAces>
            <ServiceErrors>0</ServiceErrors>
            <ReceptionErrors>0</ReceptionErrors>
            <Digs>0</Digs>
            <SoloBlocks>0</SoloBlocks>
            <BlockAssists>0</BlockAssists>
            <BlockingErrors>0</BlockingErrors>
            <BallHandlingErrors>0</BallHandlingErrors>
        </TeamStats>
    </Team>
    <Team>
        <TeamName>Team 2</TeamName>
        <Practices>
            <Practice>
                <PracticeName>Practice 1</PracticeName>
                <Players>
                    <Player>
                        <PlayerName>Test</PlayerName>
                        <PlayerNumber>5</PlayerNumber>
                        <PlayerStats>
                            <Kills>1</Kills>
                            <Errors>2</Errors>
                            <TotalAttempts>3</TotalAttempts>
                            <Assists>4</Assists>
                            <ServiceAces>5</ServiceAces>
                            <ServiceErrors>6</ServiceErrors>
                            <ReceptionErrors>7</ReceptionErrors>
                            <Digs>8</Digs>
                            <SoloBlocks>9</SoloBlocks>
                            <BlockAssists>10</BlockAssists>
                            <BlockingErrors>11</BlockingErrors>
                            <BallHandlingErrors>12</BallHandlingErrors>
                        </PlayerStats>
                    </Player>
                </Players>
            </Practice>
        </Practices>
        <TeamStats>
            <Kills>1</Kills>
            <Errors>2</Errors>
            <TotalAttempts>3</TotalAttempts>
            <Assists>4</Assists>
            <ServiceAces>5</ServiceAces>
            <ServiceErrors>6</ServiceErrors>
            <ReceptionErrors>7</ReceptionErrors>
            <Digs>8</Digs>
            <SoloBlocks>9</SoloBlocks>
            <BlockAssists>10</BlockAssists>
            <BlockingErrors>11</BlockingErrors>
            <BallHandlingErrors>12</BallHandlingErrors>
        </TeamStats>
    </Team>
</Data>